<div class="container mt-5 mt-5">
    <h1 class="text-center">About</h1>
    <p>
        Food is more than just sustenance, it's an experience. It connects people, evokes emotions, and creates
        memories. The sound of a sizzling steak or the aroma of freshly baked bread can transport us to a place of
        comfort and joy. At our online food delivery app, we're committed to bringing that experience to you. Our
        mission is to provide you with delicious food that not only nourishes your body, but also satisfies your soul.
        <br />
        At our online food delivery app, we believe that food is a celebration of culture and diversity. We offer a wide
        range of cuisines from around the world, each with its own unique flavors and traditions. From spicy Indian
        curries to savory Italian pastas, our menu is a reflection of the vibrant and diverse community we serve. Our
        chefs are passionate about their craft and are dedicated to bringing you the best possible dining experience.
        <br />
        At our online food delivery app, we believe that healthy food should be delicious too. That's why we offer a
        variety of nutritious and wholesome options that are both flavorful and satisfying. From fresh salads to grilled
        meats and vegetables, we make it easy to eat well without sacrificing taste. We're committed to helping you
        maintain a healthy and balanced lifestyle.
        <br/>

    </p>
</div>